.center-heading{
    text-align: center;
    font-size: 20px;
    color: black;
}
h2{
    background-color: yellow;
}
caption{
    color: yellow;
}
h5{
    background-color: rgb(12, 12, 242);
}
.submit-container{
    margin-top: 10px;
    text-align: center;
}
button{
    padding: 8px 16px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
}
h4{
    
    background-color:rgb(77, 67, 67);
}
p{
    color: red;
}