.card-wrapper {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    height:auto;
    width: 90%;
    max-width: 18em;
    border: 2px solid rgba(75, 30, 133, 0.5);
    border-radius: 1.5em;
    background: linear-gradient(to bottom right, rgba(75, 30, 133, 1), rgba(75, 30, 133, 0.01));
    color: white;
    font-family: 'Nunito', sans-serif;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75em;
    backdrop-filter: blur(12px);
  }
  
  .card-heading {
    font-size: 2em;
    font-weight: 500;
  }
  
  .card-text {
    font-size: 0.85em;
  }
  
  .card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.25em 1em;
    border: 1px solid white;
    border-radius: 9999px;
    backdrop-filter: blur(12px);
    cursor: pointer;
    transition: transform 0.2s;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
  }
  
  .card-button:hover {
    transform: translateY(0.125em);
  }
  
  .card-icon {
    width: 1.5em;
    height: 1.5em;
    transition: transform 0.3s;
  }
  
  .card-button:hover .card-icon {
    transform: translateX(10%);
  }
  